<h2 class="quit">退会手続き</h2>
<div class="unsubscribe-text">
  <p class="unsubscribe">
    退会してしまうと投稿やいいね、コメントなどのサービスが<br>
    使用できなくなりますがよろしいですか？<br>
    また、退会後にデータはすべて削除されます。<br>
    退会する場合は下の「退会する」を押してください。</p>
</div>
<div class="btn1">
  <%= button_to "退会する", members_withdraw_path, method: :patch, data: { confirm: "最後のチャンスです。本当に退会しますか？" }, class: "btn btn-danger btn-block" %>
  <br>
  <%= link_to "退会しない", members_mypage_path(current_member), class: "btn btn-primary" %>
</div>